---
import { useState } from "react";
  
---

<form method="post" enctype="multipart/form-data">
    <div>
      <label for="image_uploads">Choose images to upload (PNG, JPG)</label>
      <input
        type="file"
        id="image_uploads"
        name="image_uploads"
        accept=".jpg, .jpeg, .png"
        multiple 
        />
    </div>
    <div class="preview">
      <p>No files currently selected for upload</p>
    </div>
    <div>
      <button>Submit</button>
    </div>
</form>

<script define:vars={{ }}>
    document.addEventListener("DOMContentLoaded", function () {
      const input = document.querySelector("input");
      const preview = document.querySelector(".preview");
      const submit = document.querySelector("button");
  
      if (!input || !preview) {
        console.error("Input or preview element not found!");
        return;
      }
  
      // On upload files
      input.addEventListener("change", function (event) {
        base64_files = [];
        console.log(event.target.files); 
        preview.innerHTML = ""; // Clear previous preview
  
        const files = Array.from(event.target.files);
        if (files.length === 0) {
          preview.textContent = "No files currently selected for upload";
        } else {
          files.forEach((file) => {
            const reader = new FileReader();
            reader.readAsDataURL(file); // Convert file to a data URL

            reader.onload = function () {

                // Display image
                const img = document.createElement("img");
                img.src = reader.result; // Set the image source to the data URL
                img.style.width = "1000px"; // Adjust size
                img.style.marginRight = "10px";
                preview.appendChild(img);

                // Extract base64
                base64_files.push(reader.result.split(",")[1]);

            };


          });
        }
      });

      submit.addEventListener("change", )
  
      console.log(preview); 
    });
  </script>