---
import "../../styles/global.css";
import "../../styles/simple-site/menu.css";

---

<body>
  <div class="intro-page">
    <h1>LINKS:</h1>
    <ul>
      <li><a href="#">LOAD PORTFOLIO</a></li>
      <li><a href="#">DIAGNOSTICS (query speed testing and stuff)</a></li>
    </ul>

    <h2>OTHER LINKS:</h2>
    <ul>
      <li><a href="#">GITHUB</a></li>
      <li><a href="#">LINKEDIN</a></li>
      
      <li><a href="/files/example-file.pdf" 
        download="example-file.pdf" 
        rel="noopener noreferrer"
        id="resume"
        class="button"> RESUME (PDF)</a></li>
      <li><a href="#">CONTACT INFO</a></li>
    </ul>
  </div>

  <div class="bottom-bar">
    <span class="left">ryan-dong</span>
    <span class="center">MENU PAGE</span>
    <span class="right">[EXIT]</span>
  </div>
</body>