/* src/styles/global.css */
:root {
  --background-color: #ffffff;
  --text-color: #000000;
  --primary-color: #0078d4;
  --secondary-color: #0078d4;
  white-space: nowrap;
}

[data-theme="dark"] {
  --background-color: #000000;
  --text-color: #ffffff;
  --primary-color: #1e00ffdf;
  --secondary-color: #616161;
  --object-color: #2D2D2D;
}

@font-face {
  font-family: "VGA";
  src: url('/dos.woff')
}

@font-face {
  font-family: "Firacode";
  src: url('/Firacode.woff')
}

@font-face {
  font-family: 'Piazzolla';
  src: url('/Piazzolla.woff');
  font-weight: normal;
  font-style: normal;
}

/* Add font files for Pontano Sans */
@font-face {
  font-family: 'Pontano Sans';
  src: url('/PontanoSans.woff');
  font-weight: normal;
  font-style: normal;
}
