.result-list {
    font-family: Piazzolla;
    padding-left: 10px;
}

.result-item {
    padding: 10 px;
    margin-bottom: 15px;
    background-color: var(--object-color);
    color: var(--text-color);
    transition: transform 0.2s;
}

.result-item:hover {
    background-color: var(--text-color);
    color: var(--background-color);
}

ul {
    list-style-type: none;
}

.post-title {
    padding: 10px; 
    margin: 0; 
    font-size: 18px;
    font-weight: bold;
}