.terminal {
    width: 600px;
    background: #1e1e1e;
    border-radius: 8px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    cursor: grab; 
    margin: 0;
    padding: 0;
    min-height: 30vh;
    background: linear-gradient(135deg, #403c52, #1d2025);
    font-family: 'Courier New', Courier, monospace;
    color: #dcdcdc;
    resize: both;
    overflow: auto;
    display: flex;
    flex-direction: column;
}

/* Terminal Body */
.terminal-body {
    flex-grow: 1; 
    padding-bottom: 2px;
    background: url('https://via.placeholder.com/600x300') no-repeat center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    overflow-y: auto;
    width: 100%;
    height: 100%;
    overflow: hidden !important;
    white-space: nowrap;
}

.terminal-output {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    flex-grow: 1;
    overflow-y: auto;
    padding: 0;
    margin: 0;
}

/* Prompt Styling */
.prompt {
    font-size: 16px;
    color: #dcdcdc;
    width: 100%; 
    display: flex; 
    align-items: center; 
    padding: 8px;
}

.command {
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    color: #79c0ff;
    background-color: transparent;
    border: none;

    flex-grow: 1;
    text-align: left;
    min-width: 10px; 
    outline: none;
}