.blog-window {
  border: 1px solid #ccc;
  background-color: var(--text-color);
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  height: 100%;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  cursor: grab;
  position: relative; 
  overflow: hidden;
}
  
.blog-window-header {
  background: #242424;
  padding: 8px;
  cursor: move;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.blog-window-header {
  background: #242424;
  padding: 8px;
  cursor: move;
  display: flex;
  justify-content: space-between; 
  align-items: center;
}

.blog-window-tabs {
  display: flex;
  align-items: center;
  gap: 8px; /* Adds space between title and slug */
}

.blog-window-controls {
  display: flex;
  align-items: center;
  gap: 8px;
}

.blog-window-content {
  flex: 1;
  overflow: hidden;
}

.blog-window-slug {
  color: #555;
}

.blog-iframe {
  width: 100%;
  height: 100%;
  border: none;
  overflow: scroll;
}