---
const currentUrl = Astro.request.url;
---
<!doctype html>
<html lang="en" data-theme="dark">
	<head>
		<!-- EMBED DATA -->
		<meta property="og:title" content="Ryan's Portfolio" />
		<meta property="og:type" content="website" />
		<meta property="og:url" content={currentUrl} />
		<meta name="theme-color" content="#FF0000">

		<!-- General Data -->
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Portfolio</title>
	</head>
	<body>
		<slot />
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
		overflow: hidden;
		
		background-color: var(--background-color); 
		color: var(--text-color);
	}
</style>
