---
import Navigation from './Navbar.astro';
import '../styles/global.css';

const aboutTitle = 'Ryan';
const theme = Astro.props.theme || 'light'
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{aboutTitle}</title>
  </head>
  <body>
    <Navigation />
	<h2>Hello I am</h1>
    <h1 id = "about">{aboutTitle}</h1>
  </body>
</html>